{% extends "!layout.html" %}

<!--See the agogo theme layout.html-->

{% block header %}
    <div class="header-wrapper" role="banner">
      <div class="header">
        {%- if logo_url %}
          <p class="logo"><a href="{{ pathto(root_doc)|e }}">
            <img class="logo" src="{{ logo_url|e }}" alt="{{ logo_alt|e }}"/>
          </a></p>
        {%- endif %}
        {%- block headertitle %}
        <div class="headertitle"><a
          href="{{ pathto(root_doc)|e }}">{{ shorttitle|e }}</a></div>
        {%- endblock %}
        <div class="rel" role="navigation" aria-label="Related">
          {%- for rellink in rellinks|reverse %}
          <a href="{{ pathto(rellink[0])|e }}" title="{{ rellink[1]|striptags|e }}"
             {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a>
          {%- if not loop.last %}{{ reldelim2 }}{% endif %}
          {%- endfor %}
          {%- if extra_formats %}
              {{ reldelim2 }}
              {%- for slug,doc in extra_formats.items() %}
                  <a href="{{ pathto(doc, 1) }}" title="{{ slug }}">{{ slug }}</a>
                  {%- if not loop.last %}{{ reldelim2 }}{% endif %}
              {%- endfor %}
          {%- endif %}
        </div>
       </div>
    </div>
{% endblock %}
