name: Compile and deply all documents

on:
  push:
    branches: 
      - "release"
  pull_request:
    branches:
      - "master"
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container: ghcr.io/jomigo96/cookbook:v2

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build documents
        shell: bash
        run: |
          mkdir build
          echo "Compiling latex"
          sphinx-build -b latex source build_latex
          make -Cbuild_latex
          cp build_latex/joaoscookbook.pdf build/

          echo "Compiling epub"
          sphinx-build -b epub source build_epub
          cp build_epub/Joaoscookbook.epub build/

          echo "Compiling html"
          sphinx-build -b html --tag release source build

          echo "Examining"
          find build -exec ls -lah {} \;

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          name: cookbook-html
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: cookbook-html

